:root {
  --honey: #9e6e03;
  --brown: #5e450d;
  --dkbrown: #261a00;
  --grey: #707070;
  --dkgrey: #2f3034;
}

html {
  background-image: url("../imgs/BGGradient.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-color: var(--dkbrown);
  /* margin: 0 0; */
}
 
.icon{
  width: 100px;
  height: 100px;
  padding: .5rem;
}

body {
  font-family: "Commissioner", sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Great Vibes", cursive;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: white;
  margin-top: 10rem;
  background-color: rgba(70,70,70, 0.2);
  padding: 15px 0 5px 0;
}

.masthead {
  height: 10rem;
  width: 100%;
  background-image: url("../imgs/randImgs/Dinner1.png");
  background-position: center;
  height: 20rem;
}

.table {
  background-color: var(--dkgrey);
  border: 1px solid black;
  width: 90%;
  min-height: 80%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

#Conversation {
  text-align: center;
  width: 75%;
  margin: 15px auto;
  padding: 5px 0;
  /* display: flex;
  flex-direction: column; */
}

p {
  padding: 0;
}

.kanye {
  background-color: var(--honey);
  font-family: "Ink Free", sans-serif, "Marker Felt", "Comic Sans";
  padding: 5px;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  font-size: 2rem;
  max-width: 80%;
}

.taylor {
  background-color: var(--honey);
  padding: 5px;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  font-size: 2rem;
  max-width: 80%;
}


.dad {
  background-color: var(--honey);
  padding: 5px;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  font-size: 2rem;
  max-width: 80%;
}


button {
  border-radius: 20px;
  background-color: var(--grey);
  padding: 5px;
  /* height: 100px; */
  width: 220px;
  font-size: 1.5rem;
  color: white;

}
