p:root {
  --honey: #9e6e03;
  --brown: #5e450d;
  --dkbrown: #261a00;
  --grey: #707070;
  --dkgrey: #2f3034;
}

html {
  background-image: url('../imgs/BGGradient.png');
  background-size: cover;
  background-repeat: repeat-x;
  background-color: var(--dkbrown);

}
 

body {
  font-family: "Commissioner", sans-serif;
  background-color: var(--dkgrey);
  color: white;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: white;
}

.masthead {
  height: 10rem;
  width: 100%;
  background-image: url('../imgs/randImgs/Dinner1.png');
  background-position: center;

}

.table {
  border: 1px solid black;
}


.kanye {
  background-color: var(--honey) ;
  font-family: 'Ink Free', sans-serif, 'Marker Felt', 'Comic Sans';
}

.taylor {
  background-color: var(--honey);
}

 
.dad {background-color: var(--honey);
}


 
 button{ background-color: var(--grey);
}